<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pedido de Venta - Nro {{ pedido_venta.id }}</title>
    <link rel="stylesheet" href="css/pedido_venta.css">
</head>
<body>
    <header >
        <div class="imagen-logo">
            <img class="logo" src="img/logo-lupon.png" alt="Logo Marca">
        </div>
        <div class="documento">
            <span>Pedido de Venta</span>
            <span>Documento no válido como Factura</span>
        </div>
        <div class="datos">
            <span class="pedido-venta"> Pedido de Venta N° {{ pedido_venta.id }}</span>
            <span class="fecha">Fecha: {{ pedido_venta.fecha_pedido|date:"d/m/Y" }}</span>
        </div>
    </header>
    <main>
        <section class="datos-cliente">
            <span><strong>Nombre:</strong>{{ pedido_venta.cliente.nombre}}</span>
            <span><strong>Telefono:</strong> {{ pedido_venta.cliente.telefono|default:"-"}}</span>
            <span><strong>Dirección:</strong> {{ pedido_venta.direccion_entrega|default:pedido_venta.cliente.direccion|default:"-"}}</span>
            <span><strong>Forma de Pago:</strong> {{ pedido_venta.cliente.forma_pago|default:"-"}}</span>
        </section>
        <section class="detalle-venta">
            <table class="table-venta">
                <thead>
                    <tr>
                        <th class="col-producto">Producto</th>
                        <th class="col-cantidad">Cant.</th>
                        <th class="col-preciounitario">$ Unit.</th>
                        <th class="col-subtotal">Subtotal</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in items %}
                    <tr>
                        <td>{{item.producto.nombre}}</td>
                        <td>{{item.cantidad}}</td>
                        <td>{{item.precio_unitario|floatformat:2}}</td>
                        <td>{{item.subtotal|floatformat:2}}</td>
                    </tr>
                    {% empty %}
                    <tr>
                        <td colspan="4">No hay productos en la venta.</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </section>
    </main>
    <footer>
        <div class="subtotal-pedido-venta">
            <span><strong>Subtotal: </strong> {{ pedido_venta.subtotal|floatformat:2 }}</span>
        </div>
    </footer>
</body>
</html>