@tailwind base;
@tailwind components;
@tailwind utilities;

.neu-box {
    width: 100px;
    height: 100px;
    margin: 10px;
    border-radius: 40px;
    background: #6e7cc4;
    box-shadow:  -20px 20px 60px #5e69a7,
                20px -20px 60px #7f8fe1;
}
.neu-box:hover {
  box-shadow:
    inset 0 -30px 50px rgba(255, 255, 255, 0.9),
    inset 0  30px 50px rgba(13, 39, 80, 0.2);
}

.color-blanco {
  color: #ffff;
}

.color-neuromorphism {
    background-color: #6e7cc4;
}